:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: dark;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevent scrollbars since Three.js handles the view */
    background-color: #000;
    width: 100vw;
    height: 100vh;
}

#app {
    width: 100%;
    height: 100%;
}
